# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.next
dist
dist-ssr
*.local

# Environment variables
.env.development.local
.env.test.local
.env.production.local
.env.*.local

.claude
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
config.bat

VITE_SUPABASE_URL=https://bdavazygbtoosegncfgi.supabase.co
VITE_SUPABASE_PROJECT_ID=bdavazygbtoosegncfgi
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_YlOUqWn8VCiY3fe8CYlSmQ_dA_jVG_4
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkYXZhenlnYnRvb3NlZ25jZmdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MTE1NjAsImV4cCI6MjA5MDQ4NzU2MH0.K0j-AYgR4gJq8SWXm510ENFm5YU8pgOMAIWiQuLJs5o

ANTHROPIC_API_KEY=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
